@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  font-family: 'Urbanist', sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
