{% extends "home.html" %}
{% load static %}
{% load permisos %}
{% block title %}
  {{ contenido.titulo }} | CMSWEB
{% endblock title %}
{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/contenido.css' %}">
{% endblock head %}
{% block content %}
  {% tienePermiso 'contenido' '["ver"]' as permisoEstado %}
  {% tienePermiso 'boton' '["enviar_aPublicar","enviar_borrador","enviar_publicar","enviar_revision","ver"]' as permisoBoton %}
  {% if messages %}
    <div class="messages-container">
      {% for message in messages %}<div class="message {{ message.tags }}">{{ message }}</div>{% endfor %}
    </div>
  {% endif %}
  <div class="main-content">
    <div class="container">
      <div class="post">
        <!--
                    Solo para los que tienen permiso
            -->
        {% if permisoBoton.ver %}
          <div class="menu-icon" onclick="toggleDropdownMenu()">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
              <circle cx="12" cy="6" r="1.5"></circle>
              <circle cx="12" cy="12" r="1.5"></circle>
              <circle cx="12" cy="18" r="1.5"></circle>
            </svg>
          </div>
        {% endif %}
        <!-- HASTA ACA-->
        <div class="dropdown-menu" id="dropdownMenu">
          <ul>
            {% if permisoBoton.enviar_revision and contenido.estado != 'Revisión' and contenido.estado != 'Publicado' %}
              <a href="{% url 'cambiar_estado' contenido.id contenido.estado 'Revisión' %}">
                <li>Mandar a edición</li>
              </a>
            {% endif %}
            {% if permisoBoton.enviar_aPublicar and contenido.estado != 'Borrador' and contenido.estado != 'A Publicar' %}
              <a href="{% url 'cambiar_estado' contenido.id contenido.estado 'A Publicar' %}">
                <li>Mandar a Publicador</li>
              </a>
            {% endif %}
            {% if permisoBoton.enviar_publicar and contenido.estado != 'Revisión' and contenido.estado != 'Borrador' and contenido.estado != 'Publicado' %}
              <a href="{% url 'cambiar_estado' contenido.id contenido.estado 'Publicado' %}">
                <li>Publicar</li>
              </a>
            {% endif %}
            {% if permisoBoton.enviar_borrador and contenido.estado != 'Borrador' and contenido.estado != 'A Publicar' and contenido.estado != 'Publicado' %}
              <li onclick="abrirPanelComentarios()">Enviar a Borrador</li>
            {% endif %}
            {% if contenido.estado != 'Inactivo' %}
              <li>
                <a href="{% url 'cambiar_estado' contenido.id contenido.estado 'Inactivo' %}">Inactivar</a>
              </li>
            {% endif %}
          </ul>
        </div>
        {% if permisoEstado.ver %}<div class="estado">{{ contenido.estado }}</div>{% endif %}
        <div class="title">{{ contenido.titulo }}</div>
        <div class="content">
          <p>{{ contenido.texto | safe }}</p>
        </div>
        {% if contenido.imagen %}<img src="{{ contenido.imagen.url }}" alt="{{ contenido.titulo }}">{% endif %}
      </div>
      {% if contenido.estado == 'Publicado' %}
        <div class="comments">
          <h3 style="border-bottom:1px solid #38444d;
                     padding: 10px 0;
                     border-top:1px solid #38444d">Comentarios</h3>
          <div class="comentar-body">
            <div class="comment-content">
              <textarea placeholder="Comenta la publicación"></textarea>
            </div>
          </div>
          <button class="reply-button">Comentar</button>
          <div class="comment">
            <div class="title">@usuario2</div>
            <p>Inspirador mensaje. Gracias por compartir tu experiencia.</p>
          </div>
          <div class="comment">
            <div class="title">@usuario3</div>
            <p>Cada día es una oportunidad para crecer. ¡Sigue adelante!</p>
          </div>
        </div>
      {% endif %}
    </div>
    <!-- Panel lateral de comentarios -->
    <div id="comentariosPanel">
      <div class="close-icon" onclick="cerrarPanelComentarios()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M18 6L6 18M6 6l12 12" stroke="#333" stroke-width="2" fill="none" />
        </svg>
      </div>
      <h3>Comentarios para el autor</h3>
      <textarea placeholder="Escribe tus comentarios..."></textarea>
      <button onclick="guardarComentario()">Enviar Comentario</button>
    </div>
  </div>
  <script>
        function toggleDropdownMenu() {
            var dropdownMenu = document.getElementById('dropdownMenu');
            if (dropdownMenu.style.display === 'block') {
                dropdownMenu.style.display = 'none';
            } else {
                dropdownMenu.style.display = 'block';
            }
        }

        // Abrir el panel de comentarios y ajustar el layout
        function abrirPanelComentarios() {
            var mainContent = document.querySelector('.main-content');
            mainContent.classList.toggle('with-panel'); // Añade o quita la clase 'with-panel'
        }
        function cerrarPanelComentarios() {
            var mainContent = document.querySelector('.main-content');
            mainContent.classList.remove('with-panel'); // Quita la clase 'with-panel'
        }
        // Función para guardar el comentario
        function guardarComentario() {
            var comentario = document.querySelector('#comentariosPanel textarea').value;
            const url = "{% url 'cambiar_estado' contenido.pk contenido.estado 'Borrador' %}";
            if (comentario) {
                alert("Comentario guardado: " + comentario);
                // Lógica adicional para enviar el comentario al servidor
            } else {
                window.location.href = url;
            }
        }

        // Cerrar el menú desplegable si se hace clic fuera de él
        window.onclick = function(event) {
            var dropdownMenu = document.getElementById('dropdownMenu');
            if (!event.target.closest('.menu-icon')) {
                dropdownMenu.style.display = 'none';
            }
        }
  </script>
{% endblock content %}
