<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Categoría</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center">Editar Categoría</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'lista_categorias' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
