{% extends "panel.html" %}
{% load permisos %}
{% load static %}
{% load custom_filters %}
{% block title %}
  Historial de Contenido
{% endblock title %}
{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/kanban.css' %}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock head %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}<div class="message-error">{{ message }}</div>{% endif %}
    {% endfor %}
  {% endif %}
  <h1 class='text-center'>Historial de Contenidos</h1>
  <!--FILTROS-->
  <h4>Filtrar Contenidos</h4>
  <form method="get" action="{% url 'reporte' %}">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="fecha_inicio">Fecha Inicio:</label>
          <input type="date"
                 id="fecha_inicio"
                 name="fecha_inicio"
                 class="form-control"
                 value="{{ request.GET.fecha_inicio }}">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="fecha_fin">Fecha Fin:</label>
          <input type="date"
                 id="fecha_fin"
                 name="fecha_fin"
                 class="form-control"
                 value="{{ request.GET.fecha_fin }}">
        </div>
      </div>
      
  <!--FIN NUEVO-->
  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Accion</th>
          <th>Usuario</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        {% for historico in historicos %}
          <tr>
            <td>{{ historico.titulo }}</td>
            <td>{{ historico.accion }}</td>
            <td>{{ historico.usuario}}</td>
            <td>{{ historico.fecha}}</td>
          </tr>
        {% endfor %}
        
      </tbody>
  </table>
</div>
  

{% endblock content %}
