{% extends '_base.html' %} {% load socialaccount %}

{% block content %}

<div class="container" style="text-align: center; padding-top: 10%;">
  <h1>CMS WEB</h1>
  <br /><br />

  {% if user.is_authenticated %}
    <h3>Bienvenido {{ user.first_name }} {{ user.last_name }} !!!</h3>
    <br /><br />
    <a href="{% url 'account_logout' %}" class="btn btn-danger">Cerrar sesión</a>

    <br /><br />
    <a href="{% url 'buscar_categorias' %}" class="btn btn-primary">buscar categoria</a>
    <a href="{% url 'administrar_categorias' %}" class="btn btn-primary">administrar categoria</a>
    <a href="{% url 'lista_categorias' %}" class="btn btn-primary">listar categoria</a>
    <a href="{% url 'crear_categoria' %}" class="btn btn-primary">crear categoria</a>
    
  {% else %}
    <a href="{% provider_login_url 'keycloak' %}" class="btn btn-secondary">
      <i class="fa-solid fa-poo"></i>
      <span>Iniciar sesión con Keycloak</span>
    </a>
  {% endif %}
</div>

{% endblock content %}