<!DOCTYPE html>
<html>
<head>
    <title>Gestión de Categorías</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Gestión de Categorías</h1>

        <!-- Formulario para Crear o Editar Categoría -->
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Creacion de Categorías</label>
                {{ form.nombre }}
            </div>
            <input type="hidden" name="categoria_id" id="categoria_id">
            <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'crear_categoria'%}'">Crear</button>

        </form>


        <!-- Listado de Categorías -->
        <h2>Listado de Categorías</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
          
        </table>
    </div>
    <div class="container">
        <ul class="list-group">
            <p>{{ categorias.count }}</p>

            {% for categoria in categorias %}
                <li class="list-group-item">
                    <strong>{{ categorias.nombre }}</strong> - {{ categorias.descripcion }}
                </li>
            {% empty %}
                <li class="list-group-item">No hay componentes disponibles.</li>
            {% endfor %}
        </ul>
    </div>
    <script>
        document.querySelectorAll('.btn-edit').forEach(function(button) {
            button.addEventListener('click', function() {
                const categoriaId = button.getAttribute('data-id');
                const categoriaNombre = button.getAttribute('data-nombre');
                document.getElementById('categoria_id').value = categoriaId;
                document.getElementById('id_nombre').value = categoriaNombre;
            });
        });
    </script>
</body>
</html>
