<!DOCTYPE html>
<html>
<head>
    <title>Gestión de Categorías</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Gestión de Categorías</h1>

        <!-- Formulario para Crear o Editar Categoría -->
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre de la Categoría</label>
                {{ form.nombre }}
            </div>
            <input type="hidden" name="categoria_id" id="categoria_id">
            <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'crear_categoria' %}'">Crear</button>


            <button type="submit" name="editar" class="btn btn-info">Editar</button>
        </form>

        <hr>

        <!-- Listado de Categorías -->
        <h2>Listado de Categorías</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <ul>
                    {% for subcategoria in subcategorias %}
                        <li>
                            {{ categoria.nombre }} 
                            <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'eliminar_categoria' categoria.pk %}'">Eliminar</button>
                        </li>
                    {% empty %}
                    {% endfor %}
                </ul>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <button class="btn btn-warning btn-edit" data-id="{{ categoria.id }}" data-nombre="{{ categoria.nombre }}">Editar</button>
                        <form method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="categoria_id" value="{{ categoria.id }}">
                            <button type="submit" name="eliminar" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.querySelectorAll('.btn-edit').forEach(function(button) {
            button.addEventListener('click', function() {
                const categoriaId = button.getAttribute('data-id');
                const categoriaNombre = button.getAttribute('data-nombre');
                document.getElementById('categoria_id').value = categoriaId;
                document.getElementById('id_nombre').value = categoriaNombre;
            });
        });
    </script>
</body>
</html>
