{% extends "home.html" %}
{% load static %}
{% block title %}
  Artículos | CMS WEB
{% endblock title %}
{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/lista_contenidos.css' %}">
{% endblock head %}
{% block content %}
  <div class="buscador-contenedor"> 
    <form method="get">
<!-- Cuadro de búsqueda -->
      <input type="text"
             name="busqueda"
             class="campo-busqueda"
             placeholder="Buscar..."
             value="{{ busqueda }}">
<!-- Filtro por categoría -->
      <select name="categoria" class="filtrador-select">
        <option value="">Todas las categorías</option>
        {% for categoria in categorias %}
          <option value="{{ categoria.id_categoria }}"
                  {% if request.GET.categoria == categoria.id_categoria|stringformat:"s" %}selected{% endif %}>
            {{ categoria.nombre }}
          </option>
        {% endfor %}
      </select>
<!-- Filtro por autor -->
      <select id="autor" name="autor" class="filtrador-select" required>
        <option value="">Selecciona un autor</option>
        {% for autor in autores %}<option value="{{ autor.id }}">{{ autor.username }}</option>{% endfor %}
      </select>
<!-- Filtro por orden -->
      <select name="orden" class="filtrador-select">
        <option value="desc" {% if request.GET.orden == 'desc' %}selected{% endif %}>Más recientes</option>
        <option value="asc" {% if request.GET.orden == 'asc' %}selected{% endif %}>Más antiguos</option>
      </select>
      <button type="submit" class="minimalista">Filtrar</button>
    </form>
  </div>
  <div class="container">
    {% for contenido in contenidos %}
      <div class="post">
        <div class="post-header">
          <div class="post-title">
            <a href="{% url 'visualizar_contenido' contenido.id %}">{{ contenido.titulo }}</a>
          </div>
          <div class="post-meta">
            {% if contenido.fecha_creacion %}· {{ contenido.fecha_creacion|date:"d/m/Y H:i" }}{% endif %}
          </div>
        </div>
        <div class="post-content">
          <div class="post-text">{{ contenido.texto|safe }}</div>
          {% if contenido.imagen %}
            <img src="{{ contenido.imagen.url }}"
                 alt="{{ contenido.titulo }}"
                 class="post-image">
          {% elif contenido.imagen_url %}
            <img src="{{ contenido.imagen_url }}"
                 alt="{{ contenido.titulo }}"
                 class="post-image">
          {% endif %}
        </div>
        <div class="post-footer">
          Categoría: {{ contenido.categoria }}
          {% if contenido.subcategoria %}· Subcategoría: {{ contenido.subcategoria }}{% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}