{% extends "panel.html" %}
{% load permisos %}
{% load static %}
{% block title %}
  Lista de Subcategorías | CMS WEB
{% endblock title %}
{% block head %}
  {{ block.super }}
  <style>
    .button-group {
      display: flex; /* Usa flexbox para alinear los botones horizontalmente */
      gap: 10px; /* Espacio entre los botones */
    }
    .editable {
      display: none;
    }
  </style>
{% endblock head %}
{% block content %}
  {% tienePermiso 'categoria' '["crear", "editar", "eliminar"]' as permisosCat %}
  <div class="container">
    <h1 class="text-center">Gestión de Subcategorías de {{ categoria.nombre }}</h1>
    <form method="post">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Listado de Subcategorias</h3>
        {% if permisosCat.crear %}
          <button type="button"
                  class="btn btn-success text-decoration-none px-5"
                  onclick="crearSubcategoria('{{ categoria.id_categoria }}')">
            <i class="fas fa-plus"></i>
          </button>
        {% endif %}
      </div>
      {% csrf_token %}
    </form>
    {% if messages %}
      <div class="alert alert-success">
        {% for message in messages %}{{ message }}{% endfor %}
      </div>
    {% endif %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for subcategoria in subcategorias %}
          <tr id="row-{{ subcategoria.id_subcategoria }}">
            <td>{{ subcategoria.id_subcategoria }}</td>
            <td>
              <span id="name-{{ subcategoria.id_subcategoria }}">{{ subcategoria.nombre }}</span>
              <input type="text"
                     class="editable"
                     id="input-name-{{ subcategoria.id_subcategoria }}"
                     value="{{ subcategoria.nombre }}" />
            </td>
            <td>
              <div class="button-group">
                {% if permisosCat.editar %}
                  <button type="button"
                          class="btn btn-primary text-decoration-none"
                          onclick="editSubcategoria('{{ subcategoria.id_subcategoria }}')">
                    <i class="far fa-edit"></i>
                  </button>
                  <button type="button"
                          class="btn btn-success editable"
                          onclick="saveSubcategoria('{{ subcategoria.id_subcategoria }}')">
                    <i class="fas fa-save"></i>
                  </button>
                {% endif %}
                {% if permisosCat.eliminar %}
                  <form method="post"
                        action="{% url 'eliminar_subcategoria' subcategoria.id_subcategoria %}"
                        class="d-inline">
                    {% csrf_token %}
                    <button type="submit"
                            class="btn btn-danger rounded-start-0"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta subcategoría?');">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </form>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="button" class="btn btn-success" onclick="volver()">volver</button>
  </div>
  <script src="{% static 'js/lista_subcategorias.js' %}"></script>
{% endblock content %}
