<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista de Contenidos</title>
</head>

<body>
  <h1>Contenidos Creados</h1>
  <ul>
    {% for contenido in contenidos %}
    <div>
      <h3>{{ contenido.titulo }}</h3>
      <!-- safe para que renderice las etiquetas HTML -->
      <p>{{ contenido.texto|safe }}</p>
      {% if contenido.imagen %}
      <img src="{{ contenido.imagen.url }}" alt="{{ contenido.titulo }}" width="200" />
      {% endif %}
    </div>
    {% endfor %}
  </ul>
</body>

</html>