<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contenidos</title>
</head>

<body>
    <h1>Contenidos Creados</h1>
    <ul>
        {% for contenido in contenidos %}
        <li>
            <strong>{{ contenido.titulo }}</strong><br>
            <p>{{ contenido.texto }}</p>
            {% if contenido.imagen %}
            <img src="{{ contenido.imagen.url }}" alt="{{ contenido.titulo }}" width="200">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>

</html>