<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Contenido</title>
</head>

<body>
    <h1>Crear Contenido</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar borrador</button>
        <label for="opciones">Selecciona tu editor:</label>
        <select id="opciones" name="opciones">
            <option value="" disabled selected>Seleccione una opción</option> <!-- Opción vacía por defecto -->
            <option value="opcion1">Oscar</option>
            <option value="opcion2">Daily</option>
            <option value="opcion3">Robert</option>
            <option value="opcion4">Susana</option>
        </select>

        <button type="submit">Enviar contenido</button>
    </form>
</body>

</html>