{% extends "base.html" %}
{% load static %}
{% load permisos %}
<!-- Bloque para el titulo de la pestaña del navegador-->
{% block title %}
  Panel de administración | CMS WEB
{% endblock title %}
<!-- Bloque para el contenido del head -->
{% block head %}
  <link rel="stylesheet" type="text/css" href={% static 'css/panel.css' %}>
{% endblock head %}
<!-- Bloque para el contenido del body -->
{% block body %}
  {% tienePermiso 'contenido' '["listar"]' as permisoCont %}
  {% tienePermiso 'categoria' '["listar"]' as permisoCat %}
  {% tienePermiso 'kanban' '["listar"]' as permisoKan %}
  <div class="dashboard">
    <div class="dashboard-nav">
      <header>
        <a href="#" class="brand-logo">
          <i class="fa-solid fa-blog"></i>
          <span>CMS WEB</span>
        </a>
      </header>
      <nav class="dashboard-nav-list">
        <a href={% url 'home' %} class="dashboard-nav-item">
          <i class="fas fa-home"></i>
          Inicio
        </a>
        {% comment %} <a href="#" class="dashboard-nav-item">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
        </a> {% endcomment %}
        {% if permisoCont.listar %}
          <a href={% url 'gestion_contenido' %} class="dashboard-nav-item">
            <i class="fas fa-newspaper"></i>
            Artículos
          </a>
        {% endif %}
        {% comment %} <div class="dashboard-nav-dropdown">
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
              <i class="fas fa-photo-video"></i>
              Artículos
            </a>
            <div class="dashboard-nav-dropdown-menu">
              <a href={% url 'lista_contenidos' %} class="dashboard-nav-dropdown-item">Ver artículos</a>
              <a href={% url 'crear_contenido' %} class="dashboard-nav-dropdown-item">Crear artículos</a>
              <a href="#" class="dashboard-nav-dropdown-item">Editar artículos</a>
              <a href="#" class="dashboard-nav-dropdown-item">Eliminar artículos</a>
            </div>
        </div> {% endcomment %}
        {% if permisoCat.listar %}
          <a href={% url 'lista_categorias' %} class="dashboard-nav-item">
            <i class="fas fa-icons"></i>
            Categorías
          </a>
        {% endif %}
        {% if permisoKan.listar %}
          <a href={% url 'tablero_kanban' %} class="dashboard-nav-item">
            <i class="fa-solid fa-table-columns"></i>
            Tablero kanban
          </a>
        {% endif %}
        <!-- <a href="#" class="dashboard-nav-item">
            <i class="fas fa-cogs"></i>
            Configuración
          </a>
          <a href="#" class="dashboard-nav-item">
            <i class="fas fa-user"></i>
            Perfil
          </a> -->
        <div class="nav-item-divider"></div>
        <a href={% url 'logout' %} class="dashboard-nav-item">
          <i class="fas fa-sign-out-alt"></i>
          Cerrar sesión
        </a>
      </nav>
    </div>
    <div class="dashboard-app">
      <header class="container-fluid">
        <h3>
          {% if user_info.name %}
            {{ user_info.name }}
          {% else %}
            {{ user_info.username }}
          {% endif %}
        </h3>
        <p>
          {% for rol in roles %}
            {% if not forloop.first and not forloop.last %},{% endif %}
            <!-- No pone coma antes del primer y ultimo elemento -->
            {{ rol }}
          {% endfor %}
        </p>
      </header>
      <div class="dashboard-content">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
  <script src={% static 'js/panel.js' %}></script>
{% endblock body %}
