{% extends "panel.html" %}
{% load permisos %}
{% load static %}
{% load custom_filters %}
{% block title %}
Reporte de Contenido
{% endblock title %}
{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/kanban.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock head %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
          <div class="message-error">
              {{ message }}
          </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <h1 class='text-center'>Reporte de Contenidos</h1>
  
  <h4>Resumen General</h4>
  <ul>
      <li>Total de Visitas: {{ summary.total_visitas }}</li>
      <li>Total de Me Gusta: {{ summary.total_megusta }}</li>
      <li>Total de Contenidos: {{ summary.total_contenido }}</li>
  </ul>
  <h4>Detalles por Contenido</h4>
  <div style="text-align: right;">
    <a href="{% url 'generar_reporte_pdf' %}" class="btn btn-primary" >
        <i class="fas fa-download"></i> 
    </a>
    </div>

  <table border="1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Me gusta</th>
            <th>Visitas</th>
          </tr>
        </thead>
        <tbody>
          {% for contenido in contenidos %}
            <tr>
              <td>{{ contenido.titulo }}</td>
              <td>{{ contenido.megusta }}</td>
              <td>{{ contenido.visualizaciones }}</td>
            </tr>
            {% endfor %}
        </tbody>
  </table> 
  <div class="container">
    <h4>Gráfico de Me Gusta (Top 5)</h4>
    <div class="chart-container"  style="width: 80%; margin: auto;">
        <canvas id="meGustaChart" width="300" height="150"></canvas>
    </div>
</div>
<script>
    const ctx = document.getElementById('meGustaChart').getContext('2d');
    const meGustaChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for contenido in contenidos %}'{{ contenido.titulo }}'{% if not forloop.last %}, {% endif %}{% endfor %}], // Nombres de los contenidos
            datasets: [{
                label: 'Me Gusta',
                data: [{% for contenido in contenidos %}{{ contenido.megusta }}{% if not forloop.last %}, {% endif %}{% endfor %}], // Valores de "me gusta"
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

  
{% endblock content %}

